---
layout: default
---

<h1 class="title">{{ page.title }}</h1>

<article class="card card-article">
    {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
    {{ content }}
    
    <!--PC版-->

<div id="SOHUCS" ></div>

<script charset="utf-8" type="text/javascript" src="https://cy-cdn.kuaizhan.com/upload/changyan.js" ></script>

<script type="text/javascript">

window.changyan.api.config({

appid: 'cywmYPaGi',

conf: 'prod_63a4c98240dec0ed23762d1e55f9ba36'

});

</script>
</article>
